.tasks{
    border: 1px solid #014f86;
    margin: 4%;
    width: 20%;
    min-height: 20%;
}
.heading{
    margin: 4%;
    color: #014f86;
    font-size:15px;
}
.task{
    width: 90%;
    height:30px;
    margin-top: 3%;
    margin-left: 3%;
border: none;
    font-size: larger;
}
.task::placeholder{
    color: #168aad;
}
.taskInput{
    display: inline-flex;
}
.plusIcon{
    font-size: 35px;
    margin-right: 0px;
    margin-top: 0px;
    cursor: pointer;
}
svg{
    vertical-align: unset;
}